# Telegram
BOT_TOKEN=7263436828:AAGRD9VvMlZ8PiMIqEsoJ9tnqg-Pf8ozp7w
CHANNEL_ID=@promosdetudooff

# AWIN
AWIN_API_TOKEN=8234f893-f975-4766-bbb2-b1ce9d4add8e
AWIN_PUBLISHER_ID=1492066

# Render
PORT=10000
WEBHOOK_URL=https://ofertasjr.onrender.com

# Ambiente (development ou production)
ENV=production

# Timeouts (opcional)
REQUEST_TIMEOUT=20
IMAGE_TIMEOUT=15
